__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
ENV/
env/



.vscode

etoolkit/media
etoolkit/log
etoolkit/.env
etoolkit/.env
etoolkit/db.sqlite3
*.DS_Store


README_local.rst
notes/
tmp/
backup/